<h2>Add a new celebrity</h2>

<form action="/celebrities/create" method="post">

  <input type="text" name="name" placeholder="Celebrity's name: " />
  <input type="number" name="occupation" placeholder="Her/His occupation: " />
  <input
    type="number"
    name="catchPhrase"
    placeholder="Her/His catch phrase: "
  />

  <button>Add a celebrity</button>

</form>